.details {
  margin-top: 9.6rem;
  padding: 9.6rem 0;
  background-color: #fafafa;
}

.details__container {
  color: #5d534a;
}

.details__heading {
  font-size: 5rem;
}

.details__para {
  font-size: 2rem;
  margin-top: 2.4rem;

  opacity: 0.65;
}
