footer {
  color: #ffffff;
  padding: 2rem 0 6rem 0;
  display: flex;
  align-items: center;
  background: #004346;
  font-family: 'DM Sans', sans-serif;
  margin-top: 9.6rem;
}

.logo__container {
  /* width: 35%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4rem;
  justify-content: space-evenly;
  position: relative;
}

.logo__container span {
  font-size: 2rem;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.005em;
  text-align: left;
  margin-top: 16rem;
}

.logo__container img {
  position: absolute;
  top: 14%;
  width: 60%;
}

.other__wrapper {
  width: 65%;
  height: 100%;
}

.footer__other {
  height: 100%;

  display: flex;
  justify-content: space-evenly;
}

.foo__items,
.social {
  margin-top: 4rem;
}

.foo__items h3,
.social h3 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.foo__items ul li,
.social ul li {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1.5rem;
}
.social__icons-container {
  display: flex;
  justify-content: space-evenly;
}
/* .social {
  flex-grow: 0;
  width: 20%;
} */
