.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.all-headings {
  font-size: 5rem;
  line-height: 70px;
  letter-spacing: 0.3%;
  font-weight: 700;
  color: #5d534a;
}

.all-subheadings {
  font-size: 2rem;
  margin-top: 1rem;
  font-family: 'Inter';
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #5d534a;
  font-weight: 400;
  opacity: 0.65;
}
